<mat-card class="todo-card">
  <form class="todo-form" [formGroup]="todoForm">
    <mat-form-field class="todo-field">
      <mat-label>Add new task</mat-label>
      <input formControlName="item" matInput placeholder="Task..." />
      <mat-icon style="color: white" matSuffix>picture_in_picture</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="todoForm.invalid"
      color="accent"
      class="todo-button-add"
    >
      Add
    </button>
  </form>
</mat-card>
